<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net
		http://www.springframework.net/xsd/spring-objects.xsd">

  <!-- SqlMapper 必须引用相应的命名空间(可以间接应用，如Web层引用BLL,BLL引用DAL就可以，这里的方法必须是静态方法)-->
  <object id="SqlMapper" type="FindU.Lost.DAL.Common.ServiceConfig, FindU.Lost.DAL"  factory-method="GetSqlMapper" />

  <!-- 注入数据访问对象 -->
  <object id="AccountDao" type="FindU.Lost.DAL.MapperDao.AccountDao,FindU.Lost.DAL">
    <property name="SqlMapper" ref="SqlMapper"/>
  </object>

  <!-- 注入业务对象 -->
  <object id="AccountBLL" type="FindU.Lost.BLL.AccountBLL,FindU.Lost.BLL">
    <property name="AccountDao" ref="AccountDao"/>
  </object>

</objects>