<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers resource="provider.config"/>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="FindU_Lost" connectionString="Server=.;Integrated Security=SSPI;Initial Catalog=FindU_Lost"/>
  </database>

  <sqlMaps>
    <sqlMap resource="BatisMap/Account.xml"/>
  </sqlMaps>
</sqlMapConfig>