@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@section rightContent{
    <div class="divButton">确认修改</div>
    <b>修改密码
    </b>
    <p class="dashLineMarginTop"></p>
    <div style="margin: 50px auto; width: 300px;">
        <table>
            <tr>
                <td>原密码：
                </td>
                <td>
                    <input type="password" />
                </td>
            </tr>
            <tr>
                <td>新密码：
                </td>
                <td>
                    <input type="password" />
                </td>
            </tr>
            <tr>
                <td>确认密码：
                </td>
                <td>
                    <input type="password" />
                </td>
            </tr>
        </table>
    </div>
}
