@section header{
    @Styles.Render("~/css/getFindGoodsDetail.css")
}

@section main{
    <h2>宝贝在我这</h2>
    <p class="dashLineMarginTop"></p>
    <div id="imgDiv">
        <img src="~/img/headImg.jpg" />
    </div>
    <div id="findDetails">
        <p>【宝贝类型】电子数码</p>
        <p>【宝贝名称】小米3手机</p>
        <p>【捡到详情】本人昨天7月20日上午11点左右在图书馆一楼捡到了这个手机，望失主尽快与我取得联系，11点左右在图书馆一楼11点左右在图书馆一楼11点左右在图书馆一楼11点左右在图书馆一楼联系手机:100000000</p>
        <p>【捡到时间】2013年7月20日11点左右</p>
        <p>【捡到地点】图书馆一楼</p>
        <p><a href="#">查看好心人联系方式</a></p>
    </div>
}