@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@section rightContent{
    <b>我的发布
    </b>
    <p class="dashLineMarginTop"></p>
    <div style="margin: 10px auto; width: 700px;">
        <table id="myReleasedGoods">
            <tr>
                <td style="width: 15%">物品类型</td>
                <td style="width: 35%">物品名称</td>
                <td style="width: 35%">发布时间</td>
                <td style="width: 15%">操作</td>
            </tr>
            <tr>
                <td>电子数码</td>
                <td>小米3手机</td>
                <td>2013-09-05 13:20:10</td>
                <td><a href="#">查看</a>|<a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电子数码</td>
                <td>小米3手机</td>
                <td>2013-09-05 13:20:10</td>
                <td><a href="#">查看</a>|<a href="#">删除</a></td>
            </tr>
        </table>
    </div>
}
