@{
    Layout = null;
}

<div class="tile_outside">
    <div class="tile_inside">
        <div style="width: 180px; color: white; background-color: #28c4d9; top: 150px; z-index: 100;">
            SurfaceRT
        </div>
        <img class="tile_img" src="img/surfaceRt.png" />
        <div class="tile_text">
            <span>通过JQuery实现win8一样酷炫的动态磁贴效果</span>
            <p>林宇</p>
            <p>我个人表示非常喜欢微软新一代的产品……</p>
        </div>
    </div>
</div>
